<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Sorry to see you leave, <%= @user.firstname %>!</h1>
    <p>
      You have successfully de-registered from Rotten Tomatoes
    </p>
    <p>
    </p>
    <p>Thanks for using our service and have a great day!</p>
  </body>
</html>