/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {padding: 3% !important}
hr {max-width: 100% !important;}
footer {margin-bottom: 50px;}
form {max-width: 600px !important;}
header nav {float: right;}
header nav ul, header nav ul li {list-style: none;}
#user-info, #user-info li {list-style: none; padding: 0; margin: 0;}
#user-info {margin: 20px 0;}
img.logo {width: 281px; height: 51px;}
nav.pagination span {display: inline-block !important;}
.purple {background-color: #800080 !important}
.purple:hover {background-color: #900090 !important}